<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Atlas | Single SPA</title>
    <script src="https://cdn.jsdelivr.net/npm/regenerator-runtime@0.13.7/runtime.min.js"></script>
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self' https: localhost:*; script-src 'unsafe-inline' 'unsafe-eval' https: localhost:*; connect-src https: localhost:* ws://localhost:*; style-src 'unsafe-inline' https:; object-src 'none';"
    />
    <meta name="importmap-type" content="systemjs-importmap" />
    <script type="systemjs-importmap">
      {
        "imports": {
          "single-spa": "https://cdn.jsdelivr.net/npm/single-spa@5.9.0/lib/system/single-spa.min.js",
          <!-- "@atlas/root-config": "https://root-single-spa.vercel.app/atlas-root-config.js", -->
          "@atlas/root-config": "//localhost:9000/atlas-root-config.js",

          "vue": "https://unpkg.com/vue",
          "vue-router": "https://cdn.jsdelivr.net/npm/vue-router@3.0.7/dist/vue-router.min.js",
          "react": "https://unpkg.com/react@17/umd/react.development.js",
          "react-dom": "https://unpkg.com/react-dom@17/umd/react-dom.development.js",

          "@atlas/vue-todo-list": "https://spa-todo-list.vercel.app/js/app.b4735421.js",
          "@atlas/react-todo-list": "https://react-todo-list-micro-frontend.vercel.app/atlas-react-todo-list.js",
          "header": "https://micro-angular.vercel.app/main.js"
        }
      }
    </script>

    <link
      rel="preload"
      href="https://cdn.jsdelivr.net/npm/single-spa@5.9.0/lib/system/single-spa.min.js"
      as="script"
    />
    <script src="https://unpkg.com/core-js-bundle@3.1.4/minified.js"></script>
    <script src="https://unpkg.com/zone.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/systemjs/4.0.0/system.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/systemjs/4.0.0/extras/amd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/systemjs/4.0.0/extras/named-exports.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/systemjs/4.0.0/extras/named-register.min.js"></script>

    <% if (isLocal) { %>
    <script type="systemjs-importmap">
      <!-- {
        "imports": {
          <!-- "@atlas/root-config": "https://root-single-spa.vercel.app/atlas-root-config.js", -->
          "@atlas/vue-todo-list": "https://spa-todo-list.vercel.app/js/app.b4735421.js",
          "@atlas/react-todo-list": "https://react-todo-list-micro-frontend.vercel.app/atlas-react-todo-list.js",
          "header": "https://micro-angular.vercel.app/main.js"
        }
      } -->
    </script>
    <% } %>

    <script src="https://cdn.jsdelivr.net/npm/import-map-overrides@2.2.0/dist/import-map-overrides.js"></script>

    <% if (isLocal) { %>
    <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/extras/amd.js"></script>
    <% } else { %>
    <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/extras/amd.min.js"></script>
    <% } %>
  </head>
  <body>
    <noscript> You need to enable JavaScript to run this app. </noscript>
    <main></main>
    <script>
      System.import("@atlas/root-config");
    </script>
    <import-map-overrides-full
      show-when-local-storage="devtools"
      dev-libs
    ></import-map-overrides-full>
  </body>
</html>
